@using WizzyMediaSorter.Controllers
@using WizzyMediaSorter.Extension

@inherits UmbracoViewPage<CreateMedia>
@{
    Layout = "Master.cshtml";
    var categoriesHolder = Umbraco.ContentFromUmbraco<CategoriesHolder>("Node.Categories");
}



<div class="categories-edit-page">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-listing page-listing__title-wrapper">
                    @Model.Title
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                @{
                    using (Html.BeginUmbracoForm("UploadMediaContent", "UploadMedia", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="page-listing__upload__wrapper">
                            <input type="file" name="UploadMediaContent"/>
                        </div>

                        <div class="wizzy-btn__wrapper">
                            <button type="submit" class="wizzy-btn"> Create Media</button>
                        </div>
                    }

                }
          
            </div>
        </div>
    </div>
</div>